.gridItem__card-grid {
    margin: 5px 30px;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;

    & img, div {
        display: flex;
        zoom: 1;
        max-height: 170px;
    }

    &.fast{
        scroll-behavior: unset;
    }
}

.gridItem__container {
    margin: 5px;

    & img {
        max-width: unset;
        width: 150px;
        cursor: pointer;
    }
}

.gridItem__button {
    height: 100vh;
    position: absolute;
    z-index: 1;

    & button {
        background: gray;
        border: none;
        border-radius: 50%;
        color: white;
        margin: auto;
        width: 40px;
        height: 40px;
        opacity: 0.5;

        &:hover {
            background: rgb(46, 46, 46);
            transition: opacity 0.3s ease;
            opacity: 1;
        }
    }

    &.left {
        left: 20px;
    }

    &.right {
        right: 20px;
    }

}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}